<%= form_for(product) do |f| %>
  <% if product.errors.any? %>
    <div class="alert alert-danger" role="alert">
      Could not save product. Fix <%= pluralize(product.errors.count, "error") %> and try again.
    </div>
    <% if product.errors[:base].any? %>
      <ul class="text-danger">
        <% product.errors.full_messages_for(:base).each do |message| %>
            <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>
  <% end %>

  <div class="form-group <%= 'has-danger' if product.errors[:ean].any? %>">
    <%= f.label :ean, class: 'form-control-label' %>
    <%= f.text_field :ean, class: 'form-control' %>
    <% product.errors.full_messages_for(:ean).each do |message| %>
        <div class="form-control-feedback text-danger"><%= message %></div>
    <% end %>
    <small>Required.</small>
  </div>

  <div class="form-group">
    <%= f.label :description, class: 'form-control-label' %>
    <%= f.text_area :description, class: 'form-control' %>
  </div>

  <%= f.hidden_field :supplier_id %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
